Repository undead404/ymh8: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,cjs,mjs}": ["prettier --write", "eslint --fix"],
  "*.{json,css,scss,md,yml}": "prettier --write"
}

docs(agents): allow database access outside internal worker
  AGENTS.md
Due: prettier --write

chore(internal-worker): remove verbose deploy diagnostics
  apps/internal-worker/src/operations/deploy.ts
  apps/internal-worker/src/utils/run-command-in-folder.ts
Due: prettier --write, eslint --fix

fix(llm): surface provider credit exhaustion
  apps/llm-worker/src/operations/generate-tag-description.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
  apps/llm-worker/src/utils/handle-provider-error.test.ts
  apps/llm-worker/src/utils/handle-provider-error.ts
  packages/queues/src/utils/get-fail-handler.test.ts
  packages/queues/src/utils/get-fail-handler.ts
Due: prettier --write, eslint --fix

fix(internal-worker): select tags for justification generation
  apps/internal-worker/src/database2/get-tags-needing-justification.test.ts
  apps/internal-worker/src/database2/get-tags-needing-justification.ts
Due: prettier --write, eslint --fix

fix(llm-worker): report generated justifications
  apps/llm-worker/src/operations/generate-tag-justification.test.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
Due: prettier --write, eslint --fix

fix(llm-worker): improve tag justification Telegram reports
  apps/llm-worker/src/operations/generate-tag-justification.test.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
  docs/specs/tag-justification.md
Due: prettier --write, eslint --fix

fix(internal-worker): increase tag justification throughput
  apps/internal-worker/src/operations/add-work/index.ts
  apps/internal-worker/src/operations/add-work/llm.test.ts
  apps/internal-worker/src/operations/add-work/llm.ts
Due: prettier --write, eslint --fix

feat(llm): enrich tag justification context
  apps/internal-worker/src/database2/read-tag-justification-context.test.ts
  apps/internal-worker/src/database2/read-tag-justification-context.ts
  apps/llm-worker/src/operations/generate-tag-justification.test.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
  packages/schemata/src/index.test.ts
  packages/schemata/src/index.ts
Due: prettier --write, eslint --fix

fix(llm-worker): clarify tag evaluation guidance
  apps/llm-worker/src/tag-justification-prompt.ts
Due: prettier --write, eslint --fix

chore(opencode): protect user changes and destructive commands
  AGENTS.md
  opencode.json
Due: prettier --write

chore(tags): add missing blacklisted tags
  blacklisted-tags.txt
Due: none

feat(llm-worker): reject retrospective genre labels
  apps/llm-worker/src/tag-justification-prompt.ts
Due: prettier --write, eslint --fix

chore(tags): update blacklisted tags
  blacklisted-tags.txt
Due: none

fix(llm-worker): constrain tag justification output
  apps/llm-worker/src/tag-justification-prompt.ts
Due: prettier --write, eslint --fix

fix(llm): handle incomplete tag justification responses
  apps/llm-worker/src/operations/generate-tag-justification.test.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
Due: prettier --write, eslint --fix

fix(llm): lower reasoning effort on retries
  apps/llm-worker/src/operations/generate-tag-justification.test.ts
  apps/llm-worker/src/operations/generate-tag-justification.ts
Due: prettier --write, eslint --fix

fix(tags): exclude compilations and refresh blacklist
  apps/internal-worker/src/database2/get-artists-to-scrape.ts
  apps/internal-worker/src/database2/get-old-stats-albums.ts
  apps/internal-worker/src/database2/get-old-tags-albums.ts
  apps/internal-worker/src/database2/read-tag-justification-context.ts
  apps/internal-worker/src/operations/generate-tag-list.test.ts
  apps/internal-worker/src/operations/generate-tag-list.ts
  apps/llm-worker/src/database2/read-tag-artists.ts
  blacklisted-tags.txt
Due: prettier --write, eslint --fix

fix(internal-worker): clarify daily report audio wording
  apps/internal-worker/src/operations/daily-report.test.ts
  apps/internal-worker/src/operations/daily-report.ts
Due: prettier --write, eslint --fix

chore(tags): expand blacklisted tag list
  blacklisted-tags.txt
Due: none

chore(data): update blacklisted tags
  blacklisted-tags.txt
Due: none

fix(llm-worker): refine tag justification criteria
  apps/llm-worker/src/tag-justification-prompt.ts
Due: prettier --write, eslint --fix

chore(tags): add blacklisted tags
  blacklisted-tags.txt
Due: none

feat: improve album reconciliation and queue retention
  apps/internal-worker/src/operations/add-work/index.ts
  apps/lastfm-worker/src/database2/is-album-hidden.ts
  apps/lastfm-worker/src/database2/save-album-stats.ts
  apps/lastfm-worker/src/lastfm/get-album-stats.ts
  apps/lastfm-worker/src/lastfm/get-album-tags.ts
  apps/lastfm-worker/src/operations/update-album-stats.ts
  apps/lastfm-worker/src/operations/update-album-tags.test.ts
  apps/lastfm-worker/src/operations/update-album-tags.ts
  packages/queues/src/index.ts
  packages/utils/src/is-album-negligible.ts
Due: prettier --write, eslint --fix

chore(tags): expand blacklisted tag lists
  blacklisted-tag-ends.txt
  blacklisted-tag-substrings.txt
  blacklisted-tags.txt
Due: none

chore(opencode): update model references to GPT-6
  .opencode/agents/architect.md
  .opencode/agents/build.md
  .opencode/agents/execute.md
  .opencode/agents/investigate.md
  .opencode/agents/plan.md
  .opencode/agents/verify.md
  .opencode/agents/vision.md
  .opencode/commands/commit.md
  .opencode/commands/lint.md
  .opencode/commands/refactor.md
  .opencode/commands/scaffold-test.md
  .opencode/commands/test.md
  opencode.json
Due: prettier --write
